[Desktop Entry]
Type=Application
Name=OpenMPT
GenericName=Music Tracker
Comment=Create and modify module music
Icon=openmpt
Exec=/usr/bin/openmpt --shared %F
MimeType=audio/x-mod;audio/x-s3m;audio/x-xm;audio/x-it;audio/x-mptm;audio/x-mo3
Categories=AudioVideo;Audio;Midi;Sequencer;Music
Keywords=modplug;tracker;mpt;module;mod
StartupNotify=true
StartupWMClass=openmpt.exe
